<form>

  <div class="form-row">
    <div class="col">
      <span class="font-weight-bold">Stations</span>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="class=form-check form-check-inline">
        <div *ngFor="let station of stations">
          <input class="form-check-input" type="checkbox" value="{{station.id}}" id="station{{station.id}}">
          <label class="form-check-label" for="station{{station.id}}">{{station.name}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <span class="font-weight-bold">Readings</span>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="class=form-check form-check-inline">
        <div *ngFor="let readingKey of readingKeys" style="margin-right:3px;">
          <input class="form-check-input" type="checkbox" value="{{readingKey.id}}" id="readingKey{{readingKey.id}}">
          <label class="form-check-label" for="readingKey{{readingKey.id}}">{{readingKey.name}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <span class="font-weight-bold">Date Range</span>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <select class="form-control-sm" id="date-range" #dateSelectInput
        (change)='toggleDateRange(dateSelectInput.value)'>
        <option value="1hour">1 hour</option>
        <option value="24hours">24 hours</option>
        <option value="7days">7 days</option>
        <option value="30days">30 days</option>
        <option value="specific">Specify Date Range</option>
      </select>
      <br>

      <div *ngIf="showDateRange" class="d-inline">
        Start
        <input class="form-control-sm" placeholder="yyyy-mm-dd" name="startDatePicker" [(ngModel)]="model1"
          ngbDatepicker #d1="ngbDatepicker" style="width:8em" (click)="d1.toggle()">

        End
        <input class="form-control-sm" placeholder="yyyy-mm-dd" name="endDatePicker" [(ngModel)]="model2" ngbDatepicker
          #d2="ngbDatepicker" style="width:8em" (click)="d2.toggle()">
      </div>
    </div>ssss
  </div>

  <div class="form-row">
    <div class="col">
      <button mdbBtn type="button" size="sm" color="mdb-color" mdbWavesEffect>plot</button>
    </div>
  </div>

</form>